/* Specific class for BestSellers page */
.card-container.best-sellers-height {
  height: 450px; 
}

.card-container.best-sellers-height .card {
  height: 280px; 
}

.card-container.best-sellers-height .text-box {
  height: calc(100% - 300px); /* Adjust based on the card image height */
}

@media (max-width: 1350px) {
  .card-container.best-sellers-height {
    height: 340px; 
  }

  .card-container.best-sellers-height .card {
    height: 200px; 
  }

  .card-container.best-sellers-height .text-box {
    height: calc(100% - 250px); /* Adjust based on the card image height */
  }
}


@media (max-width: 1024px) {
  .card-container.best-sellers-height {
    height: 310px; 
  }

  .card-container.best-sellers-height .card {
    height: 170px; 
  }

  
}

@media (max-width: 768px) {
  .card-container.best-sellers-height {
    height: 350px; 
  }

  .card-container.best-sellers-height .card {
    height: 220px; 
  }

  .card-container.best-sellers-height .text-box {
    height: calc(100% - 220px); /* Adjust based on the card image height */
  }
}

@media (max-width: 640px) {
  .card-container.best-sellers-height {
    height: 280px; 
  }

  .card-container.best-sellers-height .card {
    height: 180px; 
  }

  .card-container.best-sellers-height .text-box {
    height: calc(100% - 180px); /* Adjust based on the card image height */
  }
}

@media (max-width: 600px) {
  .card-container.best-sellers-height {
    height: 265px; 
  }

  .card-container.best-sellers-height .card {
    height: 180px; 
  }

  .card-container.best-sellers-height .text-box {
    height: calc(100% - 180px); /* Adjust based on the card image height */
  }
}

@media (max-width: 480px) {
  .card-container.best-sellers-height {
    height: 210px; 
  }

  .card-container.best-sellers-height .card {
    height: 130px; 
  }

  .card-container.best-sellers-height .text-box {
    height: calc(100% - 150px); /* Adjust based on the card image height */
  }
}

@media (max-width: 450px) {
  .card-container.best-sellers-height {
    height: 180px; 
  }

  .card-container.best-sellers-height .card {
    height: 100px; 
  }

  .card-container.best-sellers-height .text-box {
    height: calc(100% - 150px);
  }
}

@media (max-width: 350px) {
  .card-container.best-sellers-height {
    height: 170px; 
  }
}

@media (max-width: 350px) {
  .card-container.best-sellers-height {
    height: 170px; 
  }
}

@media (max-width: 300px) {
  .card-container.best-sellers-height {
    height: 160px; 
  }
}

@media (max-width: 250px) {
  .card-container.best-sellers-height {
    height: 147px; 
  }
}









@media (max-width: 3000px) {
  .container-best-sellers {
    /* padding: 5rem; */
    margin-top: 6rem;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
  }
}

@media (max-width: 1700px) {
  .container-best-sellers {
    /* padding: 5rem; */
    margin-top: 2rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
}

@media (max-width: 900px) {
  .container-best-sellers {
    /* padding: 5rem; */
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}




/* .container-best-sellers {
  padding: 5rem;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
} */



.best-sellers-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .sort-options {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .sort-label {
    margin-right: 10px;
  }
  
  .sort-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .best-sellers-products-grid {
    display: grid;
    gap: 1rem;
  }


  @media (max-width: 500px) {
    .best-sellers-container {
      padding: 0px;
      margin-left: 0px;
    }

    .container-best-sellers {
      padding: 0px;
      margin-left: 1px;
      margin-right: 1px;
    }

  }

  @media (max-width: 640px) {
    .best-sellers-products-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 640px) {
    .best-sellers-products-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 768px) {
    .best-sellers-products-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .best-sellers-products-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  