/* Form.css */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.form-input {
  width: 100%; /* Ensures the input fields take up the full width of the form container */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 25px; /* Makes the input fields more rounded */
  box-sizing: border-box;
}

.form-button {
  width: 100%; /* Ensures the button takes up the full width of the form container */
  padding: 10px;
  margin: 20px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 25px; /* Makes the button more rounded */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
  background-color: #0056b3;
}

.signup-link {
  margin-top: 10px;
  font-size: 14px;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.signup-link a:hover {
  color: #0056b3;
}
