.moon-promo-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 2rem; */
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 2rem 0;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  
  .moon-promo-image {
    flex: 4;
    display: flex;
    justify-content: center;
  }
  
  .moon-promo-image img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
  }
  
  .moon-promo-text {
    flex: 1;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .moon-promo-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .moon-promo-text p {
    font-size: 1.125rem;
    line-height: 1.5;
    color: #555;
  }

  @media (max-width: 1700px) {
    .moon-promo-section {
        
        margin: 2rem 0;
        margin-left: 2rem;
        margin-right: 2rem;
      }

      
  }

  @media (max-width: 1500px) {
    
    .moon-promo-text h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #333;
      
    }
    
    .moon-promo-text p {
      font-size: 1rem;
      line-height: 1.5;
      color: #555;
      
    }
      
  }


  @media (max-width: 1300px) {
    
    .moon-promo-text h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #333;
      
    }
    
    .moon-promo-text p {
      font-size: 0.8rem;
      line-height: 1.5;
      color: #555;
      
    }
      
  }


  @media (max-width: 1000px) {
    .moon-promo-text h2 {
      font-size: 1.7rem;
      margin-bottom: 1rem;
      color: #333;
      
    }
    
    .moon-promo-text p {
      font-size: 0.7rem;
      line-height: 1.5;
      color: #555;
      
    }

      
  }



  @media (max-width: 900px) {
    .moon-promo-text h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: #333;

    }

    .moon-promo-text p {
      font-size: 0.65rem;
      line-height: 1.5;
      color: #555;
      
    }
  }


  @media (max-width: 800px) {
    .moon-promo-section {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }
    .moon-promo-text {
      padding: 1rem;
    }

    .moon-promo-text p {
      font-size: 0.9rem;
      line-height: 1.5;
      color: #555;
    }
  }

  @media (max-width: 740px) {
   
    .moon-promo-text h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: #333;
      
    }
    
    .moon-promo-text p {
      font-size: 0.8rem;
      line-height: 1.5;
      color: #555;
      
    }
  }

  @media (max-width: 600px) {
   
    .moon-promo-text h2 {
      font-size: 1rem;
      margin-bottom: 1rem;
      color: #333;
      
    }
    
    .moon-promo-text p {
      font-size: 0.6rem;
      line-height: 1.5;
      color: #555;
      
    }
  }

  @media (max-width: 500px) {
    .moon-promo-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* padding: 2rem; */
      background-color: #f9f9f9;
      border-radius: 8px;
      margin: 2rem 0;
      margin-left: 0rem;
      margin-right: 0rem;
    }
  }


  @media (max-width: 300px) {
   
    .moon-promo-text h2 {
      font-size: 0.6rem;
      margin-bottom: 1rem;
      color: #333;
      
    }
    
    .promo-text p {
      font-size: 0.4rem;
      line-height: 1.5;
      color: #555;
      
    }
  }


  @media (max-width: 250px) {
   
    .moon-promo-text h2 {
      font-size: 0.5rem;
      margin-bottom: 1rem;
      color: #333;
      
    }
    
    .moon-promo-text p {
      font-size: 0.3rem;
      line-height: 1.5;
      color: #555;
      
    }
  }


  @media (max-width: 221px) {
   
    .moon-promo-text h2 {
      font-size: 0.45rem;
      margin-bottom: 1rem;
      color: #333;
      
    }
    
    .moon-promo-text p {
      font-size: 0.25rem;
      line-height: 1.5;
      color: #555;
      
    }
  }