.scroll-to-top-button {
    width: 100%;
    padding: 1rem;
    background-color: #4f5368;
    color: white;
    border: none;
    cursor: pointer;
    
    bottom: 60px; 
    left: 0;
    text-align: center;
    font-size: 0.8em;
    z-index: 10; /* Ensure it's above other elements */
    font-weight: bold;
  }
  
  .scroll-to-top-button:hover {
    background-color: #676f7a;
  }
  