  .product-detail-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 5rem;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
  }

  .product-detail-main {
    display: flex;
    flex-direction: row;
  }

  .product-detail-image {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 3rem;
  }

  .product-detail-image img {
    width: 100%;
    border-radius: 8px;
    max-height: 850px;
  }

  .product-detail-info {
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 230px;

  }

  .product-detail-text {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }


  .product-detail-text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .product-detail-text p {
    margin-bottom: 5px;
  }

  .add-to-cart-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .add-to-cart-button:hover {
    background-color: #0056b3;
  }

  .section-divider {
    width: 100%;
    border: 0;
    height: 2px;
    background: #ddd;
    margin: 20px 0;
  }

  .related-products-section {
    width: 100%;
  }

  .buyitwith-products-section h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .buyitwith-products-section {
    width: 40%;
  }

  .related-products-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .related-products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .related-products-grid > div {
    flex: 1;
    margin-bottom: 10px;
  }


  .related-products-card {
    height: 300px;
}

.related-products-card .card{
    height: 180px;
}

.related-products-card .card-description {
 
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  
}


.product-detail-text p svg {
  margin-right: 10px;
}

 .product-detail-parameters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}



@media (max-width: 3000px) {
  .product-detail-container {
    margin-top: 5rem;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
  }
}

@media (max-width: 1700px) {
  .product-detail-container {
    margin-top: 4rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
}


@media (max-width: 1320px) {

  .product-detail-image {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 3rem;
  }

  .related-products-card {
    height: 250px;
}

.related-products-card .card{
    height: 150px;
}

.related-products-card .card-description {
 
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 0.7rem;
  
}

.related-products-card .card-price {
 font-size: 1rem;
}

.related-products-card .card-original-price {
  font-size: 1rem;
 }

 .related-products-card .card-discounted-price {
  font-size: 1rem;
 }

}

@media (max-width: 1235px) {
  .related-products-card {
    height: 250px;
}

.related-products-card .card{
    height: 150px;
}

.related-products-card .card-description {
 
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 0.7rem;
  
}

.related-products-card .card-price {
 font-size: 1rem;
}

.related-products-card .card-original-price {
  font-size: 1rem;
 }

 .related-products-card .card-discounted-price {
  font-size: 1rem;
 }
}





@media (max-width: 950px) {
  .related-products-card {
    height: 195px;
}

.related-products-card .card{
    height: 100px;
}



.related-products-card .card-price {
 font-size: 0.8rem;
}

.related-products-card .card-original-price {
  font-size: 0.8rem;
 }

 .related-products-card .card-discounted-price {
  font-size: 0.8rem;
 }
}








@media (max-width: 910px) {

  .product-detail-parameters {
    flex-direction: column;
    display: inline;
  }

  .product-detail-text {
    font-size: 0.9rem;
  }


  .product-detail-image {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .product-detail-main {
    flex-direction: column;
  }


  .product-detail-info {
    max-width: none;
  }


 .product-detail-container {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  
}

  .related-products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0rem;
  }

  .related-products-card {
    height: 210px;
}

.related-products-card .card{
    height: 110px;
}
  
}


@media (max-width: 750px) {


.related-products-card .card-price {
 font-size: 0.6rem;
}

.related-products-card .card-original-price {
  font-size: 0.6rem;
 }

 .related-products-card .card-discounted-price {
  font-size: 0.6rem;
 }


 .related-products-card .card-description {
    font-size: 0.6rem;
}
}



@media (max-width: 650px) {

  .product-detail-container {
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 5px;
  }


   .related-products-card {
     height: 160px;
 }
 
 .related-products-card .card{
     height: 80px;
 }
 
 .related-products-card .card-title {
  font-size: 0.65rem;
}
 
 .related-products-card .card-price {
  font-size: 0.6rem;
 }
 
 .related-products-card .card-original-price {
   font-size: 0.6rem;
  }
 
  .related-products-card .card-discounted-price {
   font-size: 0.6rem;
  }
 
 
  .related-products-card .card-description {
     font-size: 0.6rem;
 }
 }




 @media (max-width: 570px) {
  .product-detail-image img {
    width: 100%;
    border-radius: 8px;
  }


  .product-detail-parameters {
    font-size: 0.9rem;
  }

 }









 @media (max-width: 550px) {


  .product-detail-text {
    font-size: 0.7rem;
  }



   .related-products-card {
     height: 150px;
 }
 
 .related-products-card .card{
     height: 70px;
 }
 
 .related-products-card .card-title {
  font-size: 0.55rem;
}
 
 .related-products-card .card-price {
  font-size: 0.5em;
 }
 
 .related-products-card .card-original-price {
   font-size: 0.5rem;
  }
 
  .related-products-card .card-discounted-price {
   font-size: 0.5rem;
  }
 
 
  .related-products-card .card-description {
     font-size: 0.6rem;
 }
 }



 @media (max-width: 470px) {

  .product-detail-parameters {
    font-size: 0.75rem;
  }
  



  .related-products-card {
    height: 120px;
}

.related-products-card .card{
    height: 60px;
}

.related-products-card .card-title {
 font-size: 0.45rem;
}

.related-products-card .card-price {
 font-size: 0.4em;
}

.related-products-card .card-original-price {
  font-size: 0.4rem;
 }

 .related-products-card .card-discounted-price {
  font-size: 0.4rem;
 }


 .related-products-card .card-description {
    font-size: 0.4rem;
}
}



@media (max-width: 400px) {



  .related-products-card {
    height: 110px;
}

.related-products-card .card{
    height: 50px;
}

.related-products-card .card-title {
 font-size: 0.35rem;
}

.related-products-card .card-price {
 font-size: 0.3em;
}

.related-products-card .card-original-price {
  font-size: 0.3rem;
 }

 .related-products-card .card-discounted-price {
  font-size: 0.3rem;
 }


 .related-products-card .card-description {
    font-size: 0.4rem;
}
}





/*Add to cart button and discount badge styling*/
@media (max-width: 1200px) {


.related-products-button.add-to-cart-button{
  width: 100%;
}

.related-products-badge {
  font-size: 0.7rem;
  background-color: #5bc0de;
  padding: 5px;
}

}

@media (max-width: 1000px) {


  .related-products-button.add-to-cart-button{
    font-size: 0.6rem;
    width: 100%;
  }

  .related-products-badge {
    font-size: 0.7rem;
    background-color: #5bc0de;
    padding: 4px;
  }
  
  }


  @media (max-width: 950px) {


    .related-products-button.add-to-cart-button{
      
      padding: 3px;
      width: 100%;
    }

    .related-products-badge {
      font-size: 0.5rem;
      background-color: #5bc0de;
      padding: 3px;
    }
    
    }

    @media (max-width: 910px) {


      .related-products-button.add-to-cart-button{
        
        width: 100%;
      }
      
      }


      @media (max-width: 550px) {


        .related-products-button.add-to-cart-button{
          font-size: 0.4rem;
          padding: 1px;
          width: 100%;
        }

        .related-products-badge {
          font-size: 0.4rem;
          background-color: #5bc0de;
          padding: 2px;
        }
        }



        @media (max-width: 500px) {


          .related-products-button.add-to-cart-button{
            
            padding: 1px;
            width: 100%;
          }
  
          
          }


          @media (max-width: 400px) {
            .related-products-badge {
              font-size: 0.25rem;
              background-color: #5bc0de;
              padding: 1.5px;
            }

            }



          @media (max-width: 280px) {


            .related-products-button.add-to-cart-button{
              font-size: 0.2rem;
              padding: 1px;
              width: 100%;
            }

            .related-products-badge {
              font-size: 0.15rem;
              background-color: #5bc0de;
              padding: 1px;
            }

            }


