/* .all-products-page {
  padding: 20px;
  background-color: #f9f9f9;
  margin-right: 12.5rem;
  margin-left: 12.5rem;
  margin-top: 5rem;
}

.headline {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.content {
  display: flex;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 40rem;
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar ul li:hover,
.sidebar ul li.active {
  background-color: #f0f0f0;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.sort-filter select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}



.price-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-slider {
  margin: 10px 0;
  width: 200px;
}

.price-values {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.all-products-grid {
  display: grid;
  gap: 1rem;
  flex: 1;
  padding-left: 20px;
}

.card-container.all-products-page-height {
  height: 380px;
}

.card-container.all-products-page-height .card {
  height: 240px;
}

.card-container.all-products-page-height .text-box {
  height: calc(100% - 300px);
}

@media (max-width: 1700px) {
  .all-products-page {
    margin: 2rem 3.5rem;
  }
}

@media (max-width: 900px) {
  .all-products-page {
    margin: 2rem 1rem;
  }
}

@media (max-width: 1350px) {
  .card-container.all-products-page-height {
    height: 340px;
  }

  .card-container.all-products-page-height .card {
    height: 200px;
  }

  .card-container.all-products-page-height .text-box {
    height: calc(100% - 250px);
  }
}

@media (max-width: 1024px) {
  .card-container.all-products-page-height {
    height: 310px;
  }

  .card-container.all-products-page-height .card {
    height: 170px;
  }
}

@media (max-width: 900px) {
  .all-products-page {
    margin: 2rem 1rem;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .content {
    flex-direction: column; 
  }

  .all-products-grid {
    padding-left: 0; 
  }
}

@media (max-width: 768px) {
  .card-container.all-products-page-height {
    height: 360px;
  }

  .card-container.all-products-page-height .card {
    height: 220px;
  }
}

@media (max-width: 750px) {
  .card-container.all-products-page-height {
    height: 330px;
  }

  .card-container.all-products-page-height .card {
    height: 220px;
  }
}

@media (max-width: 640px) {
  .card-container.all-products-page-height {
    height: 280px;
  }

  .card-container.all-products-page-height .card {
    height: 180px;
  }

  .card-container.all-products-page-height .text-box {
    height: calc(100% - 180px);
  }
}

@media (max-width: 600px) {
  .card-container.all-products-page-height {
    height: 265px;
  }

  .card-container.all-products-page-height .card {
    height: 180px;
  }

  .card-container.all-products-page-height .text-box {
    height: calc(100% - 180px);
  }
}

@media (max-width: 480px) {
  .card-container.all-products-page-height {
    height: 210px;
  }

  .card-container.all-products-page-height .card {
    height: 130px;
  }

  .card-container.all-products-page-height .text-box {
    height: calc(100% - 150px);
  }
}

@media (max-width: 450px) {
  .card-container.all-products-page-height {
    height: 180px;
  }

  .card-container.all-products-page-height .card {
    height: 100px;
  }

  .card-container.all-products-page-height .text-box {
    height: calc(100% - 150px);
  }
}

@media (max-width: 350px) {
  .card-container.all-products-page-height {
    height: 170px;
  }
}

@media (max-width: 300px) {
  .card-container.all-products-page-height {
    height: 160px;
  }
}

@media (max-width: 250px) {
  .card-container.all-products-page-height {
    height: 147px;
  }
}

@media (max-width: 500px) {
  .all-products-page {
    padding: 15px;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .search-filter-bar {
    flex-direction: column;
  }

  .all-products-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  .all-products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 640px) {
  .all-products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .all-products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .all-products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.apply-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.apply-button:hover {
  background-color: #45a049;
}

h1.text-2xl {
  font-size: 1.5em;
  margin-bottom: 1rem;
}
 */





 
 /* .all-products-page {
  padding: 20px;
  background-color: #f9f9f9;
  margin-right: 12.5rem;
  margin-left: 12.5rem;
  margin-top: 5rem;
}

.headline {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
 
  background-color: #e2e1e1;
}

.filter-header {
  padding: 0.35rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1.3rem;
  width: 13.1rem;

  
}

.sort-container {
  display: flex;
  align-items: center;

}

.sort-container label {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.sort-container select {
  width: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  
}

.content {
  display: flex;
}

.sidebar {
  width: 250px;
  padding: 20px;
 
  
  border-radius: 8px;
  
  height: 40rem;
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar ul li:hover,
.sidebar ul li.active {
  background-color: #f0f0f0;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.price-slider {
  margin: 10px 0;
  width: 200px;
}

.price-values {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.all-products-grid {
  display: grid;
  gap: 1rem;
  flex: 1;
  padding-left: 20px;
}

.card-container.all-products-page-height {
  height: 380px;
}

.card-container.all-products-page-height .card {
  height: 240px;
}

.card-container.all-products-page-height .text-box {
  height: calc(100% - 300px);
}


@media (max-width: 500px) {
  .all-products-page {
    padding: 15px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
  }

  .filter-button-container {
    display: block; 
  }

  .sidebar {
    width: 100%;
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .sidebar.open {
    display: block; 
  }

  .content {
    flex-direction: column;
  }

  .all-products-grid {
    grid-template-columns: 1fr; 
    padding-left: 0;
  }

  .sort-container {
    order: 1; 
  }

  .filter-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .filter-button:hover {
    background-color: #45a049;
  }
}

@media (min-width: 768px) {
  .all-products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .all-products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.apply-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.apply-button:hover {
  background-color: #45a049;
}

h1.text-2xl {
  font-size: 1.5em;
  margin-bottom: 1rem;
} */


.all-products-page-height .card-original-price {
  text-decoration: line-through;
  color: gray;
  margin-bottom: 1rem;
}

.all-products-page-height .card-discounted-price {
  /* color: #d9534f; */
  font-weight: bold;
  margin-bottom: 1rem;
}



.all-products-page {
  padding: 20px;
  background-color: #f9f9f9;
  margin-right: 12.5rem;
  margin-left: 12.5rem;
  margin-top: 5rem;
}

.headline {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #e2e1e1;
  padding: 10px;
  border-radius: 5px;
}

.filter-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1.3rem;
}

.filter-button {
  display: none;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.filter-button:hover {
  background-color: #45a049;
}

.filter-button svg {
  margin-right: 5px;
}

.sort-container {
  display: flex;
  align-items: center;
}

.sort-container label {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.sort-container select {
  width: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.content {
  display: flex;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 40rem;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar ul li:hover,
.sidebar ul li.active {
  background-color: #f0f0f0;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.price-slider {
  margin: 10px 0;
  width: 200px;
}

.price-values {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.all-products-grid {
  display: grid;
  gap: 1rem;
  flex: 1;
  padding-left: 20px;
}

.card-container.all-products-page-height {
  height: 380px;
}

.card-container.all-products-page-height .card {
  height: 240px;
}

.card-container.all-products-page-height .text-box {
  height: calc(100% - 300px);
}



.apply-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.apply-button:hover {
  background-color: #45a049;
}

h1.text-2xl {
  font-size: 1.5em;
  margin-bottom: 1rem;
}





@media (max-width: 3000px) {
  .all-products-page {
    /* padding: 15px; */
    margin-right: 12.5rem;
    margin-left: 12.5rem;
    margin-top: 5rem;
  }

  .sidebar-header svg {
    display: none;
  }

  .sidebar-header span {
    display: none;
    font-size: 1.5rem;
  }
   

  .filter-header {
    display: flex;
  }

  .filter-button {
    display: none;
  }

  .all-products-grid {
    grid-template-columns: repeat(4, 1fr);
  }

}





@media (max-width: 1700px) {

  .all-products-page {
    margin-right: 3.5rem;
    margin-left: 3.5rem;
    margin-top: 4rem;
  }

  
}






@media (max-width: 1550px) {
  .card-container.all-products-page-height {
    height: 290px;
  }
  
  .card-container.all-products-page-height .card {
    height: 180px;
  }

  .card-container.all-products-page-height .card-price {
    font-size: 1rem;
  }

  .card-container.all-products-page-height .card-description {
    /* font-size: 1rem; */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .all-products-page-height .card-original-price {
    font-size: 1rem;
  }

  .all-products-page-height .card-discounted-price {
    font-size: 1rem;
  }

}







@media (max-width: 1350px) {

  .card-container.all-products-page-height {
    height: 290px;
  }
  
  .card-container.all-products-page-height .card {
    height: 180px;
  }

  .all-products-grid {
    grid-template-columns: repeat(3, 1fr);
  }


  .sidebar {
    width: 13rem;
    font-size: 1rem;
  }

  .price-values {
    font-size: 1rem;
    padding-right: 2rem;
  }

  /* .sidebar-section {
    margin-bottom: 20px;
  } */

  .rc-slider {
    width: 100%;
  }

  .apply-button {
    font-size: 0.75rem;
  }
}




@media (max-width: 1024px) {

  .card-container.all-products-page-height {
    height: 270px;
    margin-bottom: 1rem;
  }
  
  .card-container.all-products-page-height .card {
    height: 160px;
    
  }

  .all-products-grid {
    grid-template-columns: repeat(3, 1fr);
  }


  .sidebar {
    width: 11.5rem;
    font-size: 1rem;
  }

  .price-values {
    font-size: 0.9rem;
    padding-right: 3rem;
  }

  /* .sidebar-section {
    margin-bottom: 20px;
  } */

  .rc-slider {
    width: 100%;
  }

  .apply-button {
    font-size: 0.75rem;
  }


}

/* @media (min-width: 1200px) {
  .all-products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
} */




/* @media (min-width: 768px) {
  .all-products-grid  {
    grid-template-columns: repeat(3, 1fr);
  }
} */



@media (max-width: 900px) {
  .all-products-page {
    margin: 2rem 1rem;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .content {
    flex-direction: column;
  }

  .all-products-grid {
    padding-left: 0;
  }


  .sidebar-header svg {
    display: flex;
  }

  .sidebar-header span {
    display: flex;
  }
   

  .filter-header {
    display: none;
  }

  .filter-button {
    display: flex;
  }

  .sidebar {
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 60px;
  }

  .sidebar.open {
    display: block;
  }
}




@media (max-width: 650px) {

  .card-container.all-products-page-height {
    height: 230px;
  }
  
  .card-container.all-products-page-height .card {
    height: 130px;
  }

}



@media (max-width: 600px) {

  .card-container.all-products-page-height {
    height: 210px;
  }
  
  .card-container.all-products-page-height .card {
    height: 130px;
  }

  .card-container.all-products-page-height .card-price {
    font-size: 0.7rem;
  }

  .all-products-page-height .card-original-price {
   font-size: 0.7rem;
  }
  
  .all-products-page-height .card-discounted-price {
    font-size: 0.7rem;
  }

}

/* @media (min-width: 768px) {
  .all-products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
} */







@media (max-width: 500px) {

  .card-container.all-products-page-height .card {
    height: 130px;
    /* margin-bottom: 1rem; */
  }

  .card-container.all-products-page-height {
    height: 210px;
    margin-bottom: 0.1rem;
  }

  

  .all-products-page {
    padding: 15px;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-top: 2rem;
  }

  .sidebar-header svg {
    display: flex;
  }

  .filter-header {
    display: none;
  }

  .filter-button {
    display: flex;
  }

  .sidebar {
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 60px;
  }

  .sidebar.open {
    display: block;
  }

  .content {
    flex-direction: column;
  }

  .all-products-grid {
    grid-template-columns: fr;
    /* padding-left: 0; */
  }

  .sort-container {
    order: 1;
  }
}



@media (max-width: 450px) {
  .all-products-page {
    padding: 0.5rem;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-top: 2rem;
  }

  .card-container.all-products-page-height {
    height: 190px;
    
  }
  
  .card-container.all-products-page-height .card {
    height: 110px;
    
  }

  .card-container.all-products-page-height .card-price {
    font-size: 0.7rem;
  }

  .all-products-grid {
    /* grid-template-columns: repeat(2, 1fr); */
    
    column-gap: 0px;
    
  }

}


@media (max-width: 450px) {
  .all-products-page {
    padding: 0.1rem;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-top: 2rem;
  }

  .card-container.all-products-page-height {
    height: 190px;
    
  }
  
  .card-container.all-products-page-height .card {
    height: 110px;
    
  }

  .card-container.all-products-page-height .card-price {
    font-size: 0.7rem;
  }

  .top-bar {
    font-size: 0.6rem;
  }

  .sort-container label {
    font-size: 0.8rem;
  }

  .sort-container select {
    font-size: 0.8rem;

  }

}



@media (max-width: 350px) {
  
  .card-container.all-products-page-height {
    height: 170px;
    
  }
  
  .card-container.all-products-page-height .card {
    height: 100px;
    
  }

  .card-container.all-products-page-height .card-price {
    font-size: 0.6rem;
  }

  .top-bar {
    font-size: 0.4rem;
  }

  .sort-container label {
    font-size: 0.6rem;
  }

  .sort-container select {
    font-size: 0.6rem;
    
  }

  .all-products-page-height .card-original-price {
    font-size: 0.6rem;
   }
   
   .all-products-page-height .card-discounted-price {
     font-size: 0.6rem;
   }
 

 

}