

.discount-badge {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #d9534f; 
  color: white;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: bold;
}

.card-container {
    padding: 1px;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    height: 35rem;
  }

.card {
  height: 400px;
 
} 
  
  .card-price {
    font-size: 1.5rem;
  }

  .card-original-price {
    font-size: 1.5rem;
  }

  /* .card-discounted-price {
    font-size: 1.5rem;
  } */

  
  .card-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card-description {
    font-size: 0.8rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    flex-grow: 1; 
  }

  .add-to-cart-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    padding: 12px;
  }




/*  @media (max-width: 3000px) {
  .card {
    height: 300px;
  } 
  .card-container {
    padding: 1px;
    position: relative;
    overflow: hidden;
    
    font-family: 'Roboto', sans-serif;
    height: 440px;
    
  }
} */




  @media (max-width: 1700px) {
    .card {
      height: 300px;
    } 
    .card-container {
      padding: 1px;
      position: relative;
      overflow: hidden;
      
      font-family: 'Roboto', sans-serif;
      height: 440px;
    }
  }

  @media (max-width: 1350px) {
    .card {
      height: 290px;
    } 

    .card-container {
      height: auto; 
    }

    .add-to-cart-button {
      position: absolute;
      font-size: 0.8rem;
      bottom: 0px;
      right: 0px;
      opacity: 0;
      transition: opacity 0.3s ease;
      padding: 11px;

    }
  }


  
  @media (max-width: 1200px) {
    .discount-badge {
      background-color: #5bc0de;
      color: white;
     
    }
  }



  @media (max-width: 1000px) {
    .card {
      height: 230px;
    } 

    .card-container {
      height: auto; 
    }

    .add-to-cart-button {
      position: absolute;
      font-size: 0.8rem;
      bottom: 0px;
      right: 0px;
      opacity: 0;
      transition: opacity 0.3s ease;
      min-width: 100%;
      border-radius: 0;
      padding: 8px;
    }
  }

  
  @media (max-width: 900px) {
    .card {
      height: 230px;
    } 

    .card-container {
      height: 370px; 
    }

  }


  @media (max-width: 750px) {

    .card {
      height: 180px;
    } 
    
    .card-container {
      height: auto; 
    }
  
    .text-box {
      padding: 10px; 
    }
  
    .card-title {
      font-size: 0.9rem; 
    }
  
    .card-description {
      font-size: 0.7rem;
      -webkit-line-clamp: 2; 
    }
  
    .card-price {
      font-size: 0.95rem; 
    }
  
    .add-to-cart-button {
      min-width: 100%;
      font-size: 0.9rem; 
      padding: 4px;
    }

    .card-original-price {
      font-size: 0.95rem;
    }
  
    .card-discounted-price {
      font-size: 0.95rem;
    }

    .card-container {
      height: 290px; 
    }

  }

  @media (max-width: 650px) {

    .card {
      height: 150px;
    } 
    
    .card-container {
      height: auto; 
      
    }
  
    .text-box {
      padding: 2px; 
    }
  
    .card-title {
      font-size: 0.8rem;
    }
  
    .card-description {
      font-size: 0.6rem;
      -webkit-line-clamp: 2;
    }
  
    .card-price {
      font-size: 0.85rem; 
    }
  
    .add-to-cart-button {
      font-size: 0.7rem; 
      padding: 4px;
    }

    .card-original-price {
      font-size: 0.85rem;
    }
  
    .card-discounted-price {
      font-size: 0.85rem;
    }

    .discount-badge {
      position: absolute;
      top: 0px;
      right: 0px;
      /* background-color: #d9534f;  */
      color: white;
      padding: 5px 10px;
      font-size: 0.6rem;
      font-weight: bold;
    }
  
   
  }


  @media (max-width: 600px) {

    .card {
      height: 110px;
    } 
    
    .card-container {
      height: auto; 
     
    }
  
    .text-box {
      padding: 2px; 
    }
  
    .card-title {
      font-size: 0.7rem;
    }
  
    .card-description {
      font-size: 0.5rem; 
      -webkit-line-clamp: 2; 
    }
  
    .card-price {
      font-size: 0.7rem; 
    }

    .card-original-price {
      font-size: 0.7rem;
    }
  
    .card-discounted-price {
      font-size: 0.7rem;
    }

    .discount-badge {
      position: absolute;
      top: 0px;
      right: 0px;
      /* background-color: #d9534f;  */
      color: white;
      padding: 5px 10px;
      font-size: 0.5rem;
      font-weight: bold;
    }
  
    .add-to-cart-button {
      position: absolute;
      font-size: 0.5rem;
      bottom: 0px;
      right: 0px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .card-container {
      height: 190px; 
     
    }
  
  }

  
 



  @media (max-width: 350px) {
    
    .card-container {
      padding: 1px;
      position: relative;
      overflow: hidden;
      
      font-family: 'Roboto', sans-serif;
      height: auto;
    }

    .card {
      height: 5rem;
    }

    .card-title {
      font-size: 0.6rem;
    }

    .card-description {
      font-size: 0.4rem; 
      -webkit-line-clamp: 2; 
      
    }
  
    .card-price {
      font-size: 0.5rem; 
    }
  
    .add-to-cart-button {
      font-size: 0.3rem;
      min-width: 100%;
      padding: 1px;
    }

    .card-original-price {
      font-size: 0.5rem;
    }
  
    .card-discounted-price {
      font-size: 0.5rem;
    }

    .discount-badge {
      position: absolute;
      top: 0px;
      right: 0px;
      /* background-color: #d9534f;  */
      color: white;
      padding: 5px 10px;
      font-size: 0.3rem;
      font-weight: bold;
    }
  

    .card-container {
      height: 150px; 
     
    }

  }

  @media (max-width: 300px) {
    
    .card-container {
      padding: 1px;
      position: relative;
      overflow: hidden;
      
      font-family: 'Roboto', sans-serif;
      height: auto;
    }

    .card {
      height: 4rem;
    }

    .card-title {
      font-size: 0.5rem; 
    }

    .card-description {
      font-size: 0.3rem; 
      -webkit-line-clamp: 2; 
      
    }
  
    .card-price {
      font-size: 0.5rem; 
    }
  
    .add-to-cart-button {
      font-size: 0.2rem;
      min-width: 100%;
      padding: 1px;
    }

    .card-original-price {
      font-size: 0.5rem;
    }
  
    .card-discounted-price {
      font-size: 0.5rem;
    }

    .discount-badge {
      position: absolute;
      top: 0px;
      right: 0px;
      /* background-color: #d9534f;  */
      color: white;
      padding: 5px 10px;
      font-size: 0.2rem;
      font-weight: bold;
    }
  

    .card-container {
      height: 130px; 
     
    }

  }

  
  @media (max-width: 250px) {
    .card-details {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .card-price {
      font-size: 0.3rem; 
     
    }
  
    .add-to-cart-button {
      font-size: 0.15rem;
      min-width: 100%;
      padding: 1px;
    }

    .card-title {
      font-size: 0.3rem;
    }

    .card-description {
      font-size: 0.2rem;
      -webkit-line-clamp: 2; 
    }

    

    .card {
      height: 3rem;
    }

    .card-original-price {
      font-size: 0.3rem;
    }
  
    .card-discounted-price {
      font-size: 0.3rem;
    }

    .discount-badge {
      position: absolute;
      top: 0px;
      right: 0px;
      /* background-color: #d9534f;  */
      color: white;
      padding: 5px 10px;
      font-size: 0.1rem;
      font-weight: bold;
    }
  

    .card-container {
      height: 100px; 
     
    }

  }


  @media (max-width: 221px) {
    
    .card-container {
      padding: 1px;
      position: relative;
      overflow: hidden;
      
      font-family: 'Roboto', sans-serif;
      height: auto;
    }

    .card {
      height: 2rem;
    }

    .card-title {
      font-size: 0.3rem; 
    }

    .card-description {
      font-size: 0.2rem; 
      -webkit-line-clamp: 2; 
      
    }
  
    .card-price {
      font-size: 0.3rem; 
    }
  

  }

  

  