
.products-drawer {
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .products-drawer-open {
    transform: translateX(0);
    opacity: 1;
  }
  
  .products-drawer-closed {
    transform: translateX(-100%);
    opacity: 0;
  }
  
  .products-drawer-overlay {
    transition: opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;
  }
  
  .products-drawer-overlay-open {
    opacity: 1;
    pointer-events: all;
  }

  .products-drawer-category {
    color: #628fb6;
  }
  
  .products-drawer-category:hover {
    color: #c7850a;
  }